In [183]:
# In this webscraping, we are scaping the information in a tabular form 
# from the "https://www.pythonscraping.com/pages/page3.html" site which is about the Normal Gifts Items.
# We scrap the (1) Item Title (2) Descriptions (3) Costs (4) Image Url in a table form.

In [184]:
import requests
from bs4 import BeautifulSoup

In [185]:
get_url=requests.get("https://www.pythonscraping.com/pages/page3.html") 
bs_object=BeautifulSoup(get_url.text,'html.parser') 
# bs_object

In [186]:
table=bs_object.find('table',attrs={'id':'giftList'})

In [187]:
# table

In [188]:
list(table.children)[3] # Actual datas are in Row 3

<tr class="gift" id="gift1"><td>
Vegetable Basket
</td><td>
This vegetable basket is the perfect gift for your health conscious (or overweight) friends!
<span class="excitingNote">Now with super-colorful bell peppers!</span>
</td><td>
$15.00
</td><td>
<img src="../img/gifts/img1.jpg"/>
</td></tr>

In [189]:
master=[]
for row in table.children:
    if (row!='\n'):
        td=row.find_all('td') # extracting the td if the row does not have value '\n'
#         print(td) 
        if td:
            d = {}
            d['Item_title']=td[0].text.strip()
            d['Description']=td[1].text.strip()
            d['Cost']=td[2].text.strip()
            d['Img_link']=td[3].img['src'].strip()
        master.append(d)

In [190]:
import pandas as pd

In [191]:
df=pd.DataFrame(master)

In [192]:
df.head()

,Item_title,Description,Cost,Img_link
0,Mystery Box,"If you love suprises, this mystery box is for ...",$1.50,../img/gifts/img6.jpg
1,Vegetable Basket,This vegetable basket is the perfect gift for ...,$15.00,../img/gifts/img1.jpg
2,Russian Nesting Dolls,"Hand-painted by trained monkeys, these exquisi...","$10,000.52",../img/gifts/img2.jpg
3,Fish Painting,"If something seems fishy about this painting, ...","$10,005.00",../img/gifts/img3.jpg
4,Dead Parrot,This is an ex-parrot! Or maybe he's only resting?,$0.50,../img/gifts/img4.jpg