<a href="https://colab.research.google.com/github/Gwontips/Webscraping/blob/main/Sastodeal_Televisions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scraping the data about televisions (i.e. Name, Prices and URL Link) from the E-commerce: Sastodeal website. Also creating and saving the data in csv file.

In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [2]:
def get_html_doc(url):
    response=requests.get(url)
    return (response.text)

In [3]:
def parse_html(html_text):
    bs_object=BeautifulSoup(html_text,"html.parser")
    return bs_object

In [14]:
def get_data(bs_object):
    data_list=[]
    raw_soup=bs_object.find("ol",class_=["products","list","items","product-items"])
    raw_data=raw_soup.find_all('li')
    for data in range(len(raw_data)):
      d = {}
      d['Product_Name'] = raw_data[data].strong.text
      prices =raw_data[data].find_all('span',attrs={'class':'price'})
      if (len(prices))==2:
        d['New_price']=prices[1].text.replace("रू ","")
        d['Old_price']=prices[0].text.replace("रू ","")
      else:
        d['Old_price']=prices[0].text.replace("रू ","")
        d['New_price']=prices[0].text.replace("रू ","")
      d['URL_link']=raw_data[i].a['href']
      data_list.append(d)
    return data_list

In [15]:
master_data=[]
for i in range(1,4):
    url = "https://www.sastodeal.com/electronic/televisions.html?p={}".format(i)
    html_text=get_html_doc(url)
    bs_object=parse_html(html_text)
    get_data(bs_object)
    master_data.extend(get_data(bs_object))

In [17]:
pd.DataFrame(master_data)

,Product_Name,New_price,Old_price,URL_link
0,Samsung 32″ Smart LED TV UA32T4400ARXHE,"42,350","55,990",https://www.sastodeal.com/electronic/samsung-3...
1,Samsung 32''Smart LED TV UA32T4500ARXHE,"56,691","62,990",https://www.sastodeal.com/electronic/samsung-3...
2,Samsung 43″ Smart Full HD LED TV UA43T5400ARXHE,"63,250","78,990",https://www.sastodeal.com/electronic/samsung-3...
3,Samsung 108 cm (43 inches) Full HD LED Smart T...,"71,091","78,990",https://www.sastodeal.com/electronic/samsung-3...
4,Samsung 43″ Smart Full HD LED TV UA43T5500ARXHE,"80,991","89,990",https://www.sastodeal.com/electronic/samsung-3...
...,...,...,...,...
95,Technos 43'' Android Smart LED TV E43DM1100,"38,250","45,000",https://www.sastodeal.com/samsung-43-108-cm-sm...
96,Syinix 43 inch LED Smart TV,"41,000","51,000",https://www.sastodeal.com/samsung-43-108-cm-sm...
97,Videocon 65'' Smart Led TV 65DN5,"108,000","136,350",https://www.sastodeal.com/samsung-43-108-cm-sm...
98,Hisense 39 FHD LED TV %E2%80%93 HX39N2176,"39,000","51,500",https://www.sastodeal.com/samsung-43-108-cm-sm...
99,Hisense 43 Inch LED TV LED HX43M2176F,"37,000","48,750",https://www.sastodeal.com/samsung-43-108-cm-sm...

In [18]:
with open("Sastodeal.csv","w") as f:
    field_names=list(master_data[0].keys())
    writer=csv.DictWriter(f,field_names)
    writer.writeheader()
    for data in master_data:
     writer.writerow(data)